<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.madn3s.controller"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="org.madn3s.controller.MADN3SController" >
        <activity
            android:name="org.madn3s.controller.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="org.madn3s.controller.viewer.models.files.ModelPickerActivity"
        	android:label="@string/app_name"
        	android:parentActivityName="org.madn3s.controller.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.madn3s.controller.MainActivity" />
        </activity>
        
        <activity
            android:name="org.madn3s.controller.viewer.opengl.ModelDisplayActivity"
            android:label="@string/app_name"
            android:parentActivityName="org.madn3s.controller.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.madn3s.controller.MainActivity" />
        </activity>
        
        
        
        <service android:name="org.madn3s.controller.io.BraveHeartMidgetService" />
    </application>

</manifest>
